    body {
        background-color: #C0F56E;
    }
    table{
        margin: auto;
        background-color: #39769b;
    }
    .day {
        width: 70px;
        height: 70px;
        border: 1px solid #C0F56E;/*blue*/
        text-align: center;/*green*/
        font-size: 35px;
        /*background: linear-gradient(to right, rgba(247,247,247,1) 0%, rgba(247,247,247,1) 34%, rgba(56,119,159,1) 100%);*/
        /*border-radius: 5px;*/
    }

    .day.holiday{
        color: #850000;
        /*border-color: #850000;*/
    }

    .day.grey{
        background-color: #6e7073;
        border-color: grey;
    }

    .day.week{
        font-size: 15px;
    }

    .time{
        font-size: 12px;
        background-color: #478524;
        color: #000;
    }
    select, .tabno{
        font-size: 20px;
    }

    select{
        border: 2px solid transparent;
        background-color: rgba(255, 255, 255, .7);
    }

    #wrapper{
        background-color: rgba(255, 255, 255, .7);
        width: 60%;
        margin: 0 auto;
        padding: 20px 10px;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, .5);
        border-radius: 5px;
        box-shadow: 13px 20px 33px 0px rgba(0,0,0,0.75);
    }

    #page_title{
        font-size: 30px;
        margin-bottom: 10px;

    }

    .menu a, .lang, .theme, form button{
        color: #fff;
        text-decoration: none;
        background: rgb(212,75,56);
        border-radius: 5px;
    }

    .menu a, form button{
        padding: 5px;
        box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    }

    .menu a:hover, .lang:hover, .theme:hover, form button:hover{
        background: rgb(232,95,76);
    }

    .menu a:active, .lang:active, .theme:active, form button:active{
        background: rgb(152,15,0);
        box-shadow: none;
    }

    .message{
        text-align: center;
        // width: 250px;
        border: 2px solid transparent;
        color: #000;
        background-color: transparent;
    }

    /*.done {
        border-color: #4F8A10;
        color: #4F8A10;
        background-color: #DFF2BF;
    }*/

    .message.info{
        border-color: #00529B;
        color: #00529B;
        background-color: #BDE5F8;
    }

    .message.error{
        border-color: #D8000C;
        color: #D8000C;
        background-color: #FFBABA;
    }
